<div class="horizontal-scroll" ng-controller="nationLawsCtrl">
    <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="addLaw()">添加法律法规</button>
        <!-- <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
        <button class="btn btn-primary" ng-click="upload()">导入附件</button> -->
    </div>

    <table class="table" st-table="nationLaws">
        <thead>
        <tr>
            <th class="table-id" st-sort="id" st-sort-default="true" style="min-width: 60px;">序号</th>
            <th st-sort="file_number" style="max-width: 380px;text-align: center;">文号</th>
            <th st-sort="name" style="text-align: center;" >名称</th>
            <th st-sort="organization" style="text-align: center;" >颁布机构</th>
            <th st-sort="date" style="text-align: center;" >实施日期</th>
            <th align="center"  style="text-align: center;" >操作</th>
        </tr>
        <tr>
            <th></th>
            <th><input st-search="file_number" placeholder="查询文号" class="input-sm form-control search-input"
                       type="search" style="margin-left:0px;"/></th>
            <th><input st-search="name" placeholder="查询名称" class="input-sm form-control search-input"
                       type="search" style="margin-left:0px;"/></th>
            <th><input st-select="organization" placeholder="查询机构"  style="margin-left:0px;" class="input-sm form-control search-input" type="search"/>
            </th>
            <th><input st-search="date" placeholder="查询日期"  style="margin-left:0px;" class="input-sm form-control search-input" type="search"/>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="nationLaw in nationLaws" class="editable-row">
                <!-- 序号 -->
                <td>
                    {{nationLaw.id}}
                </td>
                <!-- 文号 -->
                <td>
            <span editable-text="nationLaw.file_number" e-form="name" e-required >
              {{ nationLaw.file_number || '未填写' }}
            </span>
                </td>
                <!-- 名称 -->
                <td>
            <span editable-text="nationLaw.name" e-name="name" e-form="rowform" e-required>
              {{ nationLaw.name || '未填写' }}
            </span>
                </td>
                <!-- 颁布机构 -->
                <td class="select-td">
            <span editable-select="nationLaw.organization" e-name="status" e-form="rowform">
              {{ nationLaw.organization }}
            </span>
                </td>
                <!-- 实施日期 -->
                <td class="select-td">
            <span editable-select="nationLaw.date" e-name="date" e-form="rowform">
              {{ nationLaw.date }}
            </span>
                </td>
                <!-- 操作 -->
                <td>
                    <!-- <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                          shown="inserted == user">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        Save
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        Cancel
                      </button>
                    </form> -->
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-info editable-table-button btn-xs" ng-click="viewLaw($index, nationLaw.id)">查看</button>
                        <!-- <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button> -->
                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="editLaw($index, nationLaw.id)">编辑</button>
                        <button class="btn btn-warning editable-table-button btn-xs" ng-click="download()">下载</button>
                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeLaw($index, nationLaw.id)">删除</button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>