<div class="row">
  <div class="add-row-editable-table">
    <button class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/delegation/aptitude/addPage.html', 'lg')">添加企业</button>
  </div>
  <table class="table table-bordered table-hover table-condensed">
    <tr>
      <td></td>
      <td>编号</td>
      <td>申请部门</td>
      <td>动火地点</td>
      <td>动火原因</td>
      <td>动火期限</td>
      <td>经办人手机</td>
      <td>现场操作人员</td>
      <td>安全监护人</td>
      <td>状态</td>
      <td>操作</td>
    </tr>
    <tr ng-repeat="data in fireDatas" class="editable-row">
      <td>
        {{$index + 1}}
      </td>
      <td>
        <span editable-text="data.num" e-name="name" e-required>
          {{ data.num || '空' }}
        </span>
      </td>
      <td>
        <span editable-text="data.dept" e-name="name" e-required>
          {{ data.dept || '空' }}
        </span>
      </td>
      <td>
        <span editable-text="data.addr" e-name="name" e-form="rowform" e-required>
          {{ data.addr || '空' }}
        </span>
      </td>
      <td class="select-td">
        <span editable-select="data.reason" e-name="status" e-form="rowform">
          {{ data.reason }}
        </span>
      </td>
      <td class="select-td">
        <span editable-select="data.deadline" e-name="status" e-form="rowform">
          {{ data.deadline }}
        </span>
      </td>
      <td class="select-td">
        <span editable-select="data.phone" e-name="group" onshow="loadGroups()" e-form="rowform">
          {{ data.phone }}
        </span>
      </td>
      <td class="select-td">
        <span editable-select="data.opeater" e-name="group" onshow="loadGroups()" e-form="rowform">
          {{ data.opeater }}
        </span>
      </td>
      <td class="select-td">
        <span e-name="group" onshow="loadGroups()" e-form="rowform">
          {{ data.guardian }}
        </span>
      </td>
      <td class="select-td">
        <span e-name="group" onshow="loadGroups()" e-form="rowform">
          {{ data.strus }}
        </span>
      </td>
      <td>
        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == data">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
            保存
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
            取消
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
          <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">删除</button>
        </div>
      </td>
    </tr>
  </table>
</div>