<div class="horizontal-scroll">
        <div class="form-group select-page-size-wrap ">
          <label>每页显示条数
            <select class="form-control selectpicker show-tick" title="10" selectpicker
                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
          </label>
        </div>
        <table class="table" st-table="eduTableData">
          <thead>
          <tr class="sortable ">
            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
            <th st-sort="">证书编号</th>
            <th st-sort="">证书分类</th>
            <th st-sort="">证书名称</th>
            <th st-sort="">职工姓名</th>
            <th st-sort="">性别</th>
            <th st-sort="">所属部门</th>
            <th>取证日期</th>
            <th>发证机构</th>
            <th>应复训日期</th>
            <th>是否注销</th>
          </tr>
          <!-- <tr>
            <th></th>
            <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
            </th>
            <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
            </th>
          </tr> -->
          </thead>
          <tbody>
          <tr ng-repeat="data in eduTableData">
            <td class="table-id">{{data.id}}</td>
            <td>{{data.num}}</td>
            <td>{{data.cate}}</td>
            <td>{{data.name}}</td>
            <td>{{data.persion}}</td>
            <td>{{data.sex}}</td>
            <td>{{data.dept}}</td>
            <td>{{data.perDate}}</td>
            <td>{{data.eduDept}}</td>
            <td>{{data.deuDate}}</td>
            <td>{{data.isCancel}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="11" class="text-center">
              <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>