<div class="row">
    <div class="add-row-editable-table">
      <button class="btn btn-primary" data-toggle="modal" ng-click="open('', 'lg')">添加企业</button>
    </div>
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <td></td>
        <td>编号</td>
        <td>作业高度</td>
        <td>作业地点</td>
        <td>申请部门</td>
        <td>申请人员</td>
        <td>申请时间</td>
        <td>状态</td>
        <td>操作</td>
      </tr>
      <tr ng-repeat="data in hightDatas" class="editable-row">
        <td>
          {{$index + 1}}
        </td>
        <td>
          <span editable-text="data.num" e-name="name" e-form="rowform" e-required>
            {{ data.num || '空' }}
          </span>
        </td>
        <td>
          <span editable-text="data.height" e-name="name" e-form="rowform" e-required>
            {{ data.height || '空' }}
          </span>
        </td>
        <td class="select-td">
          <span editable-select="data.addr" e-name="status" e-form="rowform">
            {{ data.addr }}
          </span>
        </td>
        <td class="select-td">
          <span editable-select="data.dept" e-name="status" e-form="rowform">
            {{ data.dept }}
          </span>
        </td>
        <td class="select-td">
          <span editable-select="data.persion" e-name="group" onshow="loadGroups()" e-form="rowform">
            {{ data.persion }}
          </span>
        </td>
        <td class="select-td">
          <span editable-select="data.date" e-name="group" onshow="loadGroups()" e-form="rowform">
            {{ data.date }}
          </span>
        </td>
        <td class="select-td">
          <span e-name="group" onshow="loadGroups()" e-form="rowform">
            {{ data.strus }}
          </span>
        </td>
        <td>
          <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == data">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
              保存
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
              取消
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
            <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">删除</button>
          </div>
        </td>
      </tr>
    </table>
  </div>