<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="安委会人员组织架构" ba-panel-class="with-scroll tree-panel">
            <div class="row">
                <div class="col-sm-4">
                    <div class="control-side text-center">
                        <div>
                            <button class="btn btn-primary" ng-click="addNewNode()">新增节点</button>
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="collapse()">折叠全部</button>
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="expand()">展开全部</button>
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="refresh()">刷新</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div 
                        id="tree" 
                        js-tree="basicConfig"  
                         ng-model="treeData" 
                         should-apply="applyModelChanges()" 
                         tree = "orgTree"
                         tree-events="ready:readyCB">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>