<div class="horizontal-scroll">
    <div class="form-group select-page-size-wrap ">
      <label>
        <select class="form-control selectpicker show-tick" title="每页显示行数" selectpicker
                ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
        </select>
      </label>
    </div>
    <table class="table" st-table="items">
      <thead>
      <tr class="sortable ">
        <th class="table-id" st-sort="id" st-sort-default="true">#</th>
        <th>类别</th>
        <th>检查时间</th>
        <th>检查人</th>
        <th st-sort="">危险源</th>
        <th st-sort="">所在部门</th>
        <th st-sort="">所在区域</th>
        <th st-sort="">可能事故</th>
        <th st-sort="">存在问题</th>
      </tr>
      <!-- <tr>
        <th></th>
        <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input"
                   type="search"/></th>
        <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input"
                   type="search"/></th>
        <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input"
                   type="search"/></th>
        <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
        </th>
        <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
        </th>
      </tr> -->
      </thead>
      <tbody>
      <tr ng-repeat="item in items">
        <td class="table-id">{{item.id}}</td>
        <td>{{item.cate}}</td>
        <td>{{item.checkTime}}</td>
        <td>{{item.persion}}</td>
        <td>{{item.pullsorce}}</td>
        <td>{{item.dept}}</td>
        <td>{{item.area}}</td>
        <td>{{item.accident}}</td>
        <td>{{item.porblem}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>