<div class="modal-content">
    <div class="modal-header bg-info">
        <i class="ion-flame modal-icon"></i>
        <span>修改{{params.name}}</span>
    </div>
    <div class="modal-body text-center">
            <div class="col-md-12 form-group">
                <span for="" class="col-sm-5 control-label" style="line-height: 34px;text-align: right;">文号：</span>
                <div class="col-sm-7">
                    <input 
                            type="text" 
                            class="form-control" 
                            id="inputOccupation" 
                            placeholder="" 
                            ng-model="data.file_number"
                            required>
                </div>

            </div>
            <div class="col-md-12 form-group">
                <span for="" class="col-sm-5 control-label" style="line-height: 34px;text-align: right;">名称：</span>
                <div class="col-md-7 col-sm-7">
                    <input 
                            type="text" 
                            class="form-control" 
                            id="inputOccupation" 
                            placeholder="" 
                            ng-model="data.name"
                            required>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <span for="" class="col-sm-5 control-label" style="line-height: 34px;text-align: right;">颁布机构：</span>
                <div class="col-md-7 col-sm-7">
                    <input 
                            type="text" 
                            class="form-control" 
                            id="inputOccupation" 
                            placeholder="" 
                            ng-model="data.organization"
                            required>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <span for="" class="col-sm-5 control-label" style="line-height: 34px;text-align: right;">实施日期：</span>
                <div class="col-md-7 col-sm-7">
                    <p class="input-group">
                        <input id="lawDate" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="data.date" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()" style="border-color:#ccc; color:#333;"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="saveData()">确认</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()" style="border-color:#ccc; color:#333;">取消</button>
    </div>
</div>